.circleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    border-radius: 20px;
    background-color: rgb(216, 206, 206);
    width: 15rem;
    height: 15rem;
    margin: 1rem;
}