.btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.btnPlay {
  background-color: #009933;
  border: none;
  color: whitesmoke;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 7px;
  margin-top: 1rem;
}

.btnPlay:hover {
    background-color: #038354;
    box-shadow: 0 0 12px rgb(58, 54, 54, .5);
}

.diceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}