.predictionContainer {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 9rem;
    border-radius: 5px;
    background-color: blueviolet;
    margin-bottom: 1rem;
}

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    height: 6rem;
}

.predictionTitle {
    text-align: center;
    font-weight: bold;
    margin: 0.5em;
    height: 1em;
}

.liOptions {
    list-style: none;
}

.btnOptions {
    background-color: #009933;
    border: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 0.9em 1.8em;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 10px;
    margin: 0.5em;
  }
  
  .btnOptions:hover {
      background-color: #fa4d09;
      box-shadow: 0 0 12px rgb(58, 54, 54, .5);
  }

  .selectedButton {
    background-color: #fa4d09;
    box-shadow: 0 0 12px rgb(58, 54, 54, .5);
    border: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 0.9em 1.8em;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 15px;
    margin: 0.5em;
}