.mainRules {
    display: flex;
    justify-content: center;
    align-content: center;
}

.sectionRules {
    background-color: rgb(146, 121, 170);
    border-radius: 15px;
    margin: 0.5rem;
    max-width: 500px;

}

.rulesTitle {
    text-align: center;
    margin: 1rem;
}

.ulRules {
    margin: 1rem;
    list-style: none;
}

li {
    font-weight: bold;
}
